@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  background-color: #00121f;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 2rem;
}

.container {
  max-width: 900px;
  margin: auto;
  background-color: #115279;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 20px #00ffd2;
}

h1, h2 {
  color: #00ffd2;
}

ul {
  padding-left: 1.5rem;
}

ul li {
  margin-bottom: 0.5rem;
}

p, li {
  font-size: 1.2rem;
}

.final {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #a9d3c5;
}