@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --dark1: #115279;
  --dark2: #00121f;
  --dark3: #566981;
  --dark4: #7f9ba5;
  --dark5: #a9d3c5;
  --cyan1: #65c4c9;
  --red: #ff0000;
  --strgcolor1: #00ffd2;
}

body {
  background-color: var(--dark2);
  font-family: Lato;
  margin: 0;
  color: var(--white);
  font-size: 1.3em;
}

h2 {
  font-size: 2.5rem;
  color: var(--strgcolor1);
}

img {
  min-width: 0;
}

header {
  background-color: var(--dark1);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
h1 {
  font-size: 3rem;
  color: var(--white);
}
strong {
  color: var(--strgcolor1);
}
nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.3rem;
}
section {
  margin: 3rem 0rem;

  @media (width >= 500px) {
    margin: 8rem 0rem;
  }
}
.box-img-header {
  height: 100%;
}
.img-logo {
  max-width: 130px;
  height: 100%;
  display: block;
}
.nav-links {
  text-decoration: none;
  color: var(--white);
}
.nav-links:hover {
  color: var(--cyan1);
  transition: 0.4s;
}
.first-section {
  display: flex;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: var(--dark1);
  margin-top: 0;
  padding: 0;
  padding-bottom: 3rem;
  background-image: url('images/TEXTURA dark1.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}
.first-section p {
  font-size: 1.4rem;
  margin-block: 0.5rem;
}
.first-section .content {
  flex: 1 1 50%;
}
.img-profile {
  border-radius: 70%;
  flex: 1 1 400px;
  max-width: 400px;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
.gap-4 {
  gap: 4rem;
}
.second-section {
  background-color: var(--dark2);
  flex-wrap: wrap;
}
.second-section {
  h2 {
    color: var(--strgcolor1);
  }
  p {
    color: var(--white);
  }
}
.third-section img {
  max-width: 250px;
  height: auto;
  border-radius: 10px;
}
.third-section h2 {
  color: var(--strgcolor1);
  .third-section {
    background-color: var(--dark2);
  }
}
.horizontal {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 1000px;
  flex-wrap: wrap;
}

.horizontal img {
  flex-basis: 250px;
}

.horizontal .content {
  flex: 1 1 0;
}

footer {
  background-color: var(--dark2);
}

.footer {
  padding: 2rem;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer-links a {
  color: var(--white);
}

.footer-links a:hover {
  color: var(--cyan1);
}

.abobra {
  background: var(--strgcolor1);
  color: var(--dark2);
  border-radius: 100px;
  box-shadow: 0 0 10px var(--strgcolor1);
  border: 1px solid #34898d;
  padding: 0.5rem 1rem;
  font-weight: bolder;
  font-size: 1.5rem;
}

.abobra:hover {
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
.cta {
  background-color: var(--strgcolor1);
  color: var(--dark1);
  font-weight: 800;
  margin-top: 2rem;
  display: block;
  text-decoration: none;
  padding: 1rem;
  max-width: fit-content;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  border: 1px solid var(--dark1);
}
.cta:hover {
  box-shadow: 0 0 10px var(--strgcolor1);
}

.max-60 {
  max-width: 1000px;

  & p {
    margin-top: 1rem;
  }
}
.container {
  max-width: 1000px;
  margin-inline: auto;
  padding: 0 2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}
.faq-section {
  margin: 0 auto;
}

.faq-item {
  margin-block: 1rem;
}

.faq-question {
  width: 100%;
  /* background: #f7f7f7; */
  background: transparent;
  color: var(--strgcolor1);
  border-inline: 5px solid var(--dark1);
  border-top: 5px solid var(--strgcolor1);
  border-left: 5px solid var(--dark1);
  border-right: 5px solid var(--dark1);
  border-bottom: 5px solid var(--strgcolor1);
  border-radius: 100px;
  padding: 1rem 1.5rem;
  text-align: left;
  font-size: 1.25rem;
  font-family: Lato, sans-serif;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: background 0.3s ease;
}

.faq-question:hover {
}

.faq-answer {
  display: none;
  padding: 0 1.5rem;
  font-size: 1.25rem;
}
header {
  background-image: url('images/TEXTURA dark1.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;    
}
  